<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../styles/room-list.css" />
    <link rel="stylesheet" href="../../styles/auth.css" />
    <link rel="stylesheet" href="../../styles/menuBar.css" />
    <link rel="stylesheet" href="../../styles/findRoommates.css" />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
      defer
    ></script>
    <script th:inline="javascript">
      var user = /*[[${user}]]*/ "Default Name";
      var roommates = /*[[${roommates}]]*/ "Default Name";
    </script>
    <script src="../../scripts/menu.js" defer></script>
    <script src="../../scripts/auth.js" defer></script>
    <script
      src="../../scripts/findRoommates.js"
      th:src="@{../../scripts/findRoommates.js}"
      defer
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div class="inner">
      <a href="/" class="logo"
        ><img src="../../images/roomlink_logo.png" alt="logo"
      /></a>
      <nav id="nav">
        <a href="/rooms/view">LISTINGS</a>
        <a href="#">FIND MY ROOMATE</a>
        <a href="Community">COMMUNITY</a>
        <a href="/faq">FAQ</a>

        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <img
              src="/images/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            />
          </div>

          <div class="menu">
            <div th:replace="fragments/login-nick :: menu"></div>
            <ul>
              <li>
                <a href="/user/get">My profile</a>
              </li>
              <li th:if="${user != null and user.accountType == 'Landlord'}">
                <a th:href="@{'/ownerListings/' + ${user.uid}}">My Listings</a>
              </li>
              <li th:if="${user != null}">
                <a href="/messages">Messages</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <a href="/chooseuser.html" id="sign-up" class="btn btn-signup"
          >Sign Up</a
        >
        <a href="/login" id="log-in" class="btn btn-login" git>Login</a>
      </nav>
    </div>
    <div class="title">
      <h1>
        Discover Compatible Roommates
        <span th:text="${user.first}"></span>
      </h1>
    </div>
    <div class="search-and-roommates-container">
      <div class="search-container">
        <label for="roommateName">Name: </label>
        <input type="text" name="roommateName" id="roommateName" />
      </div>
      <div class="roommates"></div>
    </div>
  </body>
</html>
