<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
</head>
<body>
    <h1>Account Management</h1>

    <table border="2" bgcolor="#efefef">
        <tr>
            <th>User ID</th>
            <th>Account Type</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nickname</th>
            <th>Action</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.uid}"></td>
            <td th:text="${user.accountType}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.first}"></td>
            <td th:text="${user.last}"></td>
            <td th:text="${user.nick}"></td>
            <td>
                <a th:href="@{'/delete-account?uid=' + ${user.uid}}">Delete</a>
            </td>
        </tr>
    </table>

    <p th:text="${message}"></p>
</body>
