<!DOCTYPE html>
<html lang = "en">

    <head>

        <meta charset = "UTF-8">
        <link rel = "stylesheet" th:href = "@{/styles/DirectMessages.css}">


        <title>DM</title>

    </head>

    <body>

        <header>
			<a href="/"><img th:src="@{/images/roomlink_logo.png}" /></a>
		</header>

        <main>

            <div th:each = "message:${messages}">
                <div th:if = "${message.sender == session.session_user.uid}" class = "send">
                    <p th:text = "${message.time}"></p>
                    <p th:text = "${message.content}"></p>
                </div>
                <div th:unless = "${message.sender == session.session_user.uid}" class = "receive">
                    <p th:text = "${message.time}"></p>
                    <p th:text = "${message.content}"></p>
                </div>
            </div>

            <form action = "DM" method = "post">
                <input name = "content" id = "content">
                <button type = "submit">Send</button>
            </form>

        </main>

    </body>

</html>