<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/auth.css" />
    <link rel="stylesheet" href="../styles/menuBar.css" />
    <link rel="stylesheet" href="../styles/faq.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../scripts/auth.js" defer></script>
    <script src="../scripts/faq.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header id="header">
      <div class="inner">
        <a href="/" class="logo"
          ><img src="./images/roomlink_logo.png" alt="logo"
        /></a>
        <nav id="nav">
          <a href="/rooms/view">LISTINGS</a>
          <a href="/">FIND MY ROOMATE</a>
          <a href="/">COMMUNITY</a>
          <a href="/">FAQ</a>
          <div class="action">
            <div class="profile" onclick="menuToggle();">
              <img
                src="/images/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
              />
            </div>
            <div class="menu">
              <div th:replace="fragments/login-nick :: menu"></div>
              <ul>
                <li>
                  <a href="user/get">My profile</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </div>
          </div>
          <a href="/chooseuser.html" id="sign-up" class="btn btn-signup"
            >Sign Up</a
          >
          <a href="/login" id="log-in" class="btn btn-login" git>Login</a>
        </nav>
      </div>
    </header>
    <div class="container">
      <h1 class="section__headline">FAQs</h1>
      <h2 class="c-faqs__headline">General Guidelines</h2>
      <ul class="c-faqs">
        <li class="c-faq c-faq--active">
          <span class="c-faq__title"
            >How do I create an account on the platform?</span
          >
          <div class="c-faq__answer">
            Click on the 'Sign Up' button on the top-right corner of the
            homepage. Follow the prompts to enter your information. Once
            completed, you'll be able to create a profile and start using our
            platform.
          </div>
        </li>
        <li class="c-faq">
          <span class="c-faq__title">How do I list a room for rent? </span>
          <div class="c-faq__answer">
            First, you need to log into your account. Click on 'Post My Room' at
            the middle of the page. Fill out the form with all the necessary
            details about the room, including location, room size, amenities,
            rental price, and house rules. Once you've filled everything out,
            click 'Submit'. Your listing will be posted immediately on our
            platform
          </div>
        </li>
        <li class="c-faq">
          <span class="c-faq__title"
            >How can I use the roommate matching feature?</span
          >
          <div class="c-faq__answer">
            To use the roommate matching feature, you need to complete your
            profile first. This includes filling out details about your
            preferences, interests, and lifestyle. Once your profile is
            complete, navigate to the 'Roommate Matching' page where you'll find
            suggestions of potential housemates.
          </div>
        </li>
      </ul>
      <!-- /end c-faqs -->

      <h2 class="c-faqs__headline">General Questions</h2>
      <ul class="c-faqs">
        <li class="c-faq">
          <span class="c-faq__title"
            >I'm new to Vancouver and unsure about my rights as a tenant. Where
            can I find this information?</span
          >
          <div class="c-faq__answer">
            We provide a section for Housing Resources on our platform, where
            you can find useful guides on renting, legal rights, budgeting, and
            other relevant information to help you navigate the housing market
            in Vancouver.
          </div>
        </li>
        <li class="c-faq">
          <span class="c-faq__title"
            >Are there any fees associated with using the platform?</span
          >
          <div class="c-faq__answer">
            Our platform is free to use for all registered users. There are no sign-up fees or charges for listing a room or contacting homeowners. However, any financial arrangements regarding the rental agreement are handled directly between the homeowner and the tenant.
        </li>
        <li class="c-faq">
          <span class="c-faq__title"
            >I've forgotten my password. How can I reset it?</span
          >
          <div class="c-faq__answer">
            If you've forgotten your password, click on the 'Forgot Password' link on the sign-in page. Enter the email address associated with your account and we'll send you a link to reset your password. Please ensure you have access to this email account.
          </div>
        </li>
        <li class="c-faq">
          <span class="c-faq__title">
            I'm having technical issues with the website. How can I get help?
            Answer</span
          >
          <div class="c-faq__answer">
            We're sorry to hear you're having issues. For technical support,
            please send an email to our support team. You can find the email
            blow the homepage. We'll do our best to resolve your issue as
            quickly as possible.
          </div>
        </li>
        <li class="c-faq c-faq">
          <span class="c-faq__title"
            >What is the Community Forum and how can I use it?</span
          >
          <div class="c-faq__answer">
            The Community Forum is a place where users can ask questions, seek
            advice, and share experiences related to finding housing and living
            in shared accommodations. After logging in to your account, you can
            access the forum through the main menu. You can post new topics or
            respond to existing discussions.
          </div>
        </li>
      </ul>
      <!-- /end c-faqs -->

      <h2 class="c-faqs__headline">Other questions</h2>
      <ul class="c-faqs">
        <li class="c-faq" th:each="question: ${Question}">
          <span th:text="${question.title}" class="c-faq__title"></span>
          <span class="smaller" th:text="${question.nick}"></span>
          <span class="smaller" th:text="${question.dataPosted}"></span>
          <div class="show-answer">
            <p id="description" th:text="${question.description}"></p>
            <p id="answer" th:text="${question.answer}"></p>
            <button class="answer-button" th:attr="data-question-id=${question.qid}">Answer</button>
            <form th:action="@{/submitAnswer}" th:method="post" class="answer-form">
              <textarea class="answer-input" rows="4" cols="50" th:name="answer"></textarea>
              <input type="hidden" th:name="qid" th:value="${question.qid}"/>
              <button type="submit" class="submit-answer">Submit</button>
            </form>  
            </div>
        </li>
      </ul>
      <div class="a-container">
        <a href="/post-question" class="btn btn-post-question">Post a Question</a>
        <script>
          const postButton = document.getElementsByClassName("btn btn-post-question")[0];
          postButton.addEventListener("click", function (event) {
          if (!isLoggedIn) {
             event.preventDefault(); // Prevent the default link behavior
              window.location.href = "login"; // Redirect to the login page
            }
            });
        </script>
      </div>
     
  </body>
</html>
