<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cormorant+Garamond&family=Marck+Script&family=Montserrat:wght@400;500;600;700;800&family=Playfair+Display:ital@1&family=Poppins:wght@400;700&family=Proza+Libre&family=Roboto:wght@400;700&family=Taviraj&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles/login.css" />
    <script src="/scripts/Login.js" defer></script>
  </head>
  <body class="mainframe">
    <div class="inner">
      <a href="index.html" class="logo"
        ><img src="./images/roomlink_logo.png" alt="logo"
      /></a>
    </div>
    <form action="login" method="post" onsubmit="return validateForm_login()">
      <fieldset>
        <legend>Login</legend>
        <div class="form-info-container">
          <label>Email </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Type your email address"
          />
        </div>
        <div class="form-info-container">
          <label>Password </label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Type your password"
          />
        </div>
        <a href="./mainpage.html">
          <input type="submit" value="LOGIN" />
        </a>
        <p>
          Don't have an account?
          <a href="./chooseuser.html"> Sign Up </a>
        </p>
        <p>
          <a href="/reset-password">Forgot Password?</a>
        </p>
      </fieldset>
    </form>
  </body>
</html>
