.search-and-roommates-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.search-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

.search-container > label {
  margin-bottom: 0rem;
}

.roommates {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.roommate {
  display: flex;
  padding: 2rem 4rem;
  flex-flow: column nowrap;
  border-radius: 8px;
  gap: 0.8rem;
  min-width: 400px;
  box-shadow: rgba(36, 36, 37, 0.2) 0px 7px 29px 0px;
}

.roommate-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.roommate a {
  cursor: pointer;
  color: white !important;
  font-weight: bold;
}

.roommate p {
  font-weight: bold;
}
