body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  size: 7rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 10px 0 5px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  height: 200px;
}
button[type="submit"] {
  margin-top: 20px;
  background-color: #008cba;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button[type="submit"]:hover {
  background-color: #007b9a;
}
