/* Styles for the Post My Room page */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 20px;
  color: #011d77;
  font-size: 3.5rem;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="text"],
form input[type="number"],
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

form input[type="file"] {
  margin-bottom: 15px;
}
label {
  font-size: 23px;
}
#select-option {
  margin-bottom: 15px;
}
select {
  width: 10rem;
  height: 27px;
  border-radius: 3px;
  font-size: 17px;
}
