<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/room-post.css" />
    <title>Post My Room</title>
  </head>
  <body>
    <h1>Post My Room</h1>

    <form action="/rooms/save" method="post" enctype="multipart/form-data">
      <!-- Room details form fields -->
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="address" placeholder="Address" />
      <input type="text" name="city" placeholder="City" />
      <input type="number" name="price" placeholder="Price" />
      <textarea name="description" placeholder="Description"></textarea>
      <input type="text" name="startingDate" placeholder="Starting Date" />
      <input type="text" name="endingDate" placeholder="Ending Date" />

      <!-- Image upload -->
      <input type="file" name="image" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
