<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles/roomListing.css" />
    <link rel="stylesheet" href="../../styles/room-list.css" />
    <script src="../../scripts/roomListing.js" defer></script>
    <title>Room Listing</title>
  </head>
  <body>
    <div class ="container-main">
        <div class="container-header">
            <div class="logo">
              <span>oomLink</span>
            </div>
            <div class="action">
              <div class="profile" onclick="menuToggle();">
                <img src="/images/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" />
              </div>
              <div class="menu">
                <h3>name<br />
                <ul>
                  <li>
                    <a href="#">My profile</a>
                  </li>
                  <li>
                  <!--  <a href="#">Logout</a> -->
                  </li>
                </ul>
              </div>
            </div>
            </div>
    </div>
        <div class="title">
            <h1>Discover Your Home<span>VIEW LISTING</span></h1>
          </div>
    <div class="heading-container">
      <h1>Room Listing</h1>
      <a href="/rooms/view">View All listings</a>
    </div>
    <div class="room-container">
      <h2 th:text="${roomListing.title}"></h2>
      <img src="/images/placeholder_room_image.jpg" />
      <h4>Address</h4>
      <p th:text="${roomListing.address}"></p>
      <h4>City</h4>
      <p th:text="${roomListing.city}"></p>
      <h4>Price</h4>
      <p th:text="'$' + ${roomListing.price}"></p>
      <h4>Description</h4>
      <p th:text="${roomListing.description}"></p>
      <h4>Starting date</h4>
      <p th:text="${roomListing.startingDate}"></p>
      <h4>Ending date</h4>
      <p th:text="${roomListing.endingDate}"></p>
    </div>
  </body>
</html>
<!-- private String title;
    private String address;
    private String city;
    private Double price;
    private String description;
    private String startingDate;
    private String endingDate; -->
