<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/room-list.css" />
    <script src="../../scripts/room-list.js" defer></script>
    <title>Room-list</title>
  </head>
  <div class="container-header">  
    <div class="logo">
      <span>oomLink</span>
    </div>
    <div class="action">
      <div class="profile" onclick="menuToggle();">
        <img src="/images/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" />
      </div>
      <div class="menu">
        <h3>name<br />
        <ul>
          <li>
            <a href="#">My profile</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
      
      <div class="title">
        <h1>Discover Your Home<span>Room Listings</span></h1>
      </div>

    <div class="filter-buttons">
      <button id="price-filter" class="w-btn w-btn-indigo" type="button">Sort by Price</button>
        <select id="location-filter" class="w-btn w-btn-indigo">
          <option value="">Search by Location</option>
          <option value="vancouver">Vancouver</option>
          <option value="surrey">Surrey</option>
          <option value="richmond">Richmond</option>
          <option value="burnaby">Burnaby</option>
          <option value="coquitlam">Coquitlam</option>
          <option value="delta">Delta</option>
          <option value="langley">Langley</option>
          <option value="northVancouver">North Vancouver</option>
          <option value="mapleRidge">Maple Ridge</option>
          <option value="newWestminster">New Westminster</option>
          <option value="portCoquitlam">Port Coquitlam</option>
          <option value="westVancouver">West Vancouver</option>
          <option value="whiteRock">White Rock</option>
          <option value="pittMeadows">Pitt Meadows</option>
        </select>
      </div>
      
      
    </div>

    <ul class="room-cards">
      <li th:each="room : ${r}" class="room-card">
        <img src="" alt="Room" />
        <h2 th:text="${room.title}"></h2>
        <p id="city" th:text="${room.city}"></p>
        <p th:text="${room.startingDate}"></p>
        <p id ="price" th:text="${room.price}"></p>
        <button>View Details</button>
      </li>
    </ul>
  </body>
</html>
