<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/room-list.css" />
    <link rel="stylesheet" href="../../styles/auth.css">
    <link rel="stylesheet" href="../../styles/menuBar.css">
    <script src="../../scripts/room-list.js" defer></script>
    <script src="../../scripts/auth.js" defer ></script>
    <title>Room-list</title>
  </head>
  <body>
    <div class="inner">
      <a href="/" class="logo"><img src="../../images/roomlink_logo.png" alt="logo"></a>
      <nav id="nav">
        <a href="/rooms/view">LISTINGS</a>
        <a href="/findRoomates">FIND MY ROOMATE</a>
        <a href="/Community">COMMUNITY</a>
        <a href="/faq">FAQ</a>
        <div class="action">
          <div class="profile" onclick="menuToggle();">
            <img src="/images/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" />
          </div>
          <div class="menu">
            <div th:replace ="fragments/login-nick :: menu"></div>
            <ul>
              <li>
                <a href="/user/get">My profile</a>
              </li>
              <li th:if="${user != null and user.accountType == 'Landlord'}">
                <a th:href="@{'/ownerListings/' + ${user.uid}}">My Listings</a>
              </li>
              <li th:if="${user != null}">
                <a href="/messages">Messages</a>
              </li>
              <li>
              <a href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <a href="/chooseuser.html" id="sign-up" class="btn btn-signup">Sign Up</a>
        <a href="/login" id="log-in" class="btn btn-login" git>Login</a>
      </nav>
    </div>
    </div>
      
      <div class="title">
        <h1>Discover Your Home<span>Room Listings</span></h1>
      </div>

    <div class="filter-buttons">
      <button id="price-filter" class="w-btn w-btn-indigo" type="button">Sort by Price</button>
        <select id="location-filter" class="w-btn w-btn-indigo">
          <option value="">Search by Location</option>
          <option value="vancouver">Vancouver</option>
          <option value="surrey">Surrey</option>
          <option value="richmond">Richmond</option>
          <option value="burnaby">Burnaby</option>
          <option value="coquitlam">Coquitlam</option>
          <option value="delta">Delta</option>
          <option value="langley">Langley</option>
          <option value="northVancouver">North Vancouver</option>
          <option value="mapleRidge">Maple Ridge</option>
          <option value="newWestminster">New Westminster</option>
          <option value="portCoquitlam">Port Coquitlam</option>
          <option value="westVancouver">West Vancouver</option>
          <option value="whiteRock">White Rock</option>
          <option value="pittMeadows">Pitt Meadows</option>
        </select>
      </div>
    </div>

    <ul class="room-cards">
      <li th:each="room : ${r}" class="room-card">
        <img
        th:src="@{'data:image/jpeg;base64,' + ${room.image.encodeBytesToString()}}"
        alt="Room Image"
      />        
      <h2 th:text="${room.title}"></h2>
        <p id="city" th:text="${room.city}"></p>
        <p th:text="${room.startingDate}"></p>
        <p id ="price" th:text="${room.price}"></p>
        <a class="view-button" th:href="@{'/roomListing/'+ ${room.uid}}">View Details</a>      
      </li>
    </ul>
    <script>
      const viewButtons = document.querySelectorAll(".view-button");
       viewButtons.forEach(function(button) {
         button.addEventListener("click", function(event) {
           if (!isLoggedIn) {
             event.preventDefault();
             window.location.href = "/login";
           }
       });})
     </script>  
  </body>
</html>
